<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Toy Robot
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Toy Robot</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="toy-robot-visualizer">
    <ion-row *ngFor="let row of rows">
      <ion-col *ngFor="let col of row">
        <ion-icon
          *ngIf="col"
          name="arrow-forward-outline"
          class="object"
          [style]="_objectTransformStyle"
        ></ion-icon>
      </ion-col>
    </ion-row>
  </div>

  <div class="toy-robot-remote">
    <form class="ion-padding" [formGroup]="form" (submit)="place()">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="fixed">X</ion-label>
          <ion-input type="number" formControlName="x" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Y</ion-label>
          <ion-input type="number" formControlName="y" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Facing</ion-label>
          <ion-select formControlName="facing" placeholder="Select Facing">
            <ion-select-option
              *ngFor="let facing of facings"
              [value]="facing.value"
              >{{facing.viewValue}}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-button type="submit" expand="full" [disabled]="form.invalid"
        >Place</ion-button
      >
    </form>

    <div class="ion-padding">
      <ion-button expand="block" (click)="move()">Move</ion-button>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="left()">Left</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="right()">Right</ion-button>
        </ion-col>
      </ion-row>
      <ion-button expand="block" (click)="report()">Report</ion-button>
    </div>
  </div>
</ion-content>
